# attrs==19.1.0
# certifi==2019.6.16
# click==6.7
# click-plugins==1.0.3
# cligj==0.5.0
# cycler==0.10.0
# descartes==1.1.0
# Fiona==1.8.4
# Flask==1.0.2
# Flask-WTF==0.14.2
# GDAL==2.3.3
# geopandas==0.4.0
# itsdangerous==1.1.0
# Jinja2==2.10.1
# joblib==0.12.2
# kiwisolver==1.1.0
# llvmlite==0.29.0
# MarkupSafe==1.1.1
# matplotlib==3.1.0
# munch==2.3.2
# numpy==1.16.4
# palettable==3.2.0
# pandas==0.24.2
# patsy==0.5.1
# psutil==5.6.3
# psycopg2==2.7.6.1
# pyparsing==2.2.0
# pyproj==1.9.6
# pysal==2.0.0
# python-dateutil==2.7.3
# pytz==2018.5
# Rtree==0.8.3
# scikit-learn==0.21.2
# scipy==1.3.0
# seaborn==0.9.0
# Shapely==1.6.4.post1
# six==1.12.0
# SQLAlchemy==1.3.7
# statsmodels==0.10.0
# tornado==6.0.3
# Werkzeug==0.15.5
# wincertstore==0.2
# WTForms==2.2.1
# xlrd==1.1.0
