attrs==19.3.0
certifi==2020.4.5.1
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
descartes==1.1.0
Fiona==1.8.13
Flask==1.1.2
Flask-WTF==0.14.3
GDAL==3.0.4
geopandas==0.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1589812474002/work
kiwisolver==1.2.0
llvmlite==0.32.1
MarkupSafe==1.1.1
matplotlib==3.2.1
munch==2.5.0
numba==0.49.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1588605080954/work
pandas==1.0.3
patsy==0.5.1
psutil==5.7.0
pyparsing==2.4.7
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1588596069539/work
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.1
pytz==2020.1
Rtree==0.9.4
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1589920858235/work
scipy==1.4.1
seaborn==0.10.1
Shapely==1.7.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
statsmodels==0.11.1
threadpoolctl==2.0.0
tornado==6.0.4
Werkzeug==1.0.1
WTForms==2.3.1

numpy~=1.18.4
scikit-learn~=0.23.1
joblib~=0.15.1